<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar equipamento</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>

<form action="/equipamento/cadastro" method="post">
    <h2>Cadastrar um equipamento</h2>
    <label for="modelo">Modelo do equipamento</label>
    <input type="text" id="modelo" name="modelo" required></br>
    <label for="marca">Marca do equipamento</label>
    <input type="text" id="marca" name="marca" required></br>
    <label for="cor">Cor do equipamento</label>
    <input type="text" id="cor" name="cor" required></br>
    <label for="categoria">Categoria</label>
    <select id="categoria">

        <option value="Notebook"> Notebook</option>
        <option value="Cadeira"> Cadeira</option>
        <option value="Monitor"> Monitor</option>
        <option value="Teclado"> Teclado</option>
        <option value="Mouse"> Mouse</option>
        <option value="Outros"> Outros</option>

    </select></br>
    <button type="submit"> Cadastrar </button></br>
    <nav>
        <a href="index.html">Voltar</a>
    </nav>
</form>
</body>
</html>