<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Funcionários Ativos</title>
</head>
<body>
<h2>Lista de Funcionários Ativos</h2>
<table border="1">
    <thead>
    <tr>
        <th>Nome</th>
        <th>CPF</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="funcionario : ${funcionarios}">
        <td th:text="${funcionario.nome}">Nome</td>
        <td th:text="${funcionario.CPF}">Email</td>
    </tr>
    </tbody>
</table>
</body>
</html>
